/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: rgb(7, 219, 162);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f343a ;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.left{
  float: left;
}

.container{
  padding: 10px;
  background-image: url('img/natural-pattern.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: green;
}


/* ______________________________ */



/* HEADER */

header{
  width: 80%;
  height: 400px;
  background-color: white;
  margin: auto;
  position: relative;
}

.sfondo{
  background-image: url(img/natural-header.jpg);
  width: 100%;
  height: 340px;
  background-size: cover;
  background-position: bottom;
}

.sfondo .layover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 10px solid white;
  position: relative;
}

.layover .textarea {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.layover .textarea img {
  width: 50%;
}

.layover .textarea h1{
  color: white;
  text-transform: uppercase;
}

nav{
  width: 100%;
  height: 60px;
  background-color: grey;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
  padding: 0 5px;
}

nav ul li a{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li:hover{
  background-color: white;
}

nav ul li:hover a{
  color: grey;
}



/* MAIN */


main{
  width: 80%;
  margin: 20px auto;
}

/* PRIMA COLONNA */

.col-first{
  width: calc(20% - 20px);
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

aside i {
  font-size: 40px;
  color: orange;
  vertical-align: top;
}

aside h2{
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

aside ul{
  list-style: none;
}

aside ul li {
  margin: 15px 0;
}


/* ______________________________ */


/* SECONDA COLONNA */

.col-second{
  width: calc(60% - 40px) ;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 40px;
}

.col-second h2{
  margin-bottom: 30px;
  text-shadow: 1px 1px lightgrey;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}

.col-second p{
  line-height: 2;
}

/* ______________________________ */

/* TERZA COLONNA */

.col-third{
  width: calc(20% - 20px);
}

.widget{
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.widget h3{
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
}

.widget p{
  line-height: 2;
}

/* ______________________________ */


/* FOOTER */

footer{
  width: 80%;
  background-color: white;
  margin: auto;
  text-align: center;
}

footer .colfull{
  width: 100%;
  height: 30px;
  padding: 5px;
  color: grey;
}


footer .col2{
  width: 30%;
  margin: 20px;
}

footer .col2 i{
  font-size: 60px;
  color: grey;
  padding: 15px 0;
  transition: transform .3s;
}

footer .col2 i:hover {
  transform: scale(1.5);
  color: rgb(7, 219, 162);
}


/* ______________________________ */
